<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>kuku</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/dashboardstyle.css">
        <style>
            td  {
                height: 2rem;
                width: 4rem;
            
            }
            body
            {
                background-color:   rgb(203, 230, 203);
            }
            .txtheader
            {
                color: rgb(111, 120, 138);
                font-weight: bolder;
            }
            .container
            {
                max-width: 1080;
                padding: 20px;
                margin: 0 auto;
                background-color:#ECEFF4;
        
            }
            .nav
            {
                display: flex;
                justify-content: space-between;
                background-color:#51f0a9;
                margin: -20px;
                margin-bottom: 80px;
            }
            .btnprofile
            {
                display: flex;
                margin-right: 100px;
                gap: 20px;
                align-items: center;
            }
         

        </style>
    </head>

    <body>
        <div class="container">
            <div class="nav container">

                <div class="txtheader">
                    <h1>KUKU CUBE</h1>
                </div>
      
                <div class="btnprofile">
                    <div>

                             <a href="/"> DASHBOARD</a>
                    </div>
                    <div>

                        <P>  <i class="fa-regular fa-user fa-2xl"></i> </P> 
                    </div>
                </div>

            </div>


         <div class="container"> 
                <p> Mihir Rajpopat (24DEV093)</p>
                <h2 id="ti"> time</h2>
                <span id="score">score 0</span>
         </div>
  

        <div class="tab container">
            <table id="tbl1" border=1>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
            </table>
        </div>
       
        <div class="tab container">
            <input type="button" id="time" value="play" onclick="time1()">
        </div>
 
    </div>


        <script>
            let score=0;
            let sc1= document.querySelector("#score");
            let trs = document.querySelector('#tbl1');
            trs.addEventListener("click" ,function (e){
                let dp = e.target.style.opacity;
                if(dp == 0.5)
                {
                    addr();
                    score++;
                    sc1.innerText = `score ${score}`;              
                    addc();
                    getNewRandomColor();
                }
                else{
                    score--;
                    sc1.innerText = `score ${score}`
                    alert("TRY AGIAN");
                }
                
            })
            function getNewRandomColor()
            {
                var myArray = []; 
                for (let i = 0; i < 10; i++)
                {
                    const randomColor = "#" + Math.floor(Math.random() * 16777215).toString(16);
                    myArray.push(randomColor);
                }   
                var rand = myArray[Math.floor(Math.random() * myArray.length)];
                let trs = document.querySelectorAll('td');
                for(let tr of trs)
                {
                    tr.style.opacity="1";
                    tr.style.backgroundColor = rand;
                }
                setopa();
            }  
            
             getNewRandomColor();
            function setopa()
            {
                    let trs = document.querySelectorAll('td');
                    let s=Math.floor(Math.random() * trs.length)
                    trs[s].style.opacity="50%";

            }

            function addc()
            {
                let trs = document.querySelectorAll('#tbl1 tr');
                for(let tr of trs)
                {
                    let td =  document.createElement('td');
                    tr.appendChild(td);
                }
            }

            function addr()
            {
                let table = document.querySelector("#tbl1");
                let tr =  document.createElement('tr');
                let cols = document.getElementById("tbl1").rows[0].cells.length
                for(let i= 1 ; i<=cols ;i++)
                {
                    let td= document.createElement('td');
                    tr.appendChild(td);
                }
                table.appendChild(tr);
            }

            function time1()
            {
                let time = 30;
                const set = setInterval(()=>{
                    if(time>0)
                    {
                        let ti = document.getElementById("ti");
                        ti.innerText=time;
                        time--; 
                    }
                    else{
                        alert("time out " );
                        location.reload();
                    }
                },1000)
            }
        </script>

    
    </body>
</html>