

<tr>



    <% data.forEach(element => { %>
    <tr>
        <% for(const key in element){%>


                <td><%= element[key] %></td>
            <% } %>


        </tr>
     
    <% }) %>




