* {

    box-sizing: border-box;
    font-family: ' Arial';
}

.results {

    text-align: center;
    font-size: 20px;
    color: rgb(147, 75, 75);
}


.main {
    margin: 15px;
}

fieldset {
    border: 1px solid black;
}

.basic {
    display: flex;

}


.one,
.two {
    width: 50%;
}

.education {
    gap: 200px;
}

.ssc,
.hsc {
    display: flex;

}


.bachelor,
.master {
    display: flex;

}

.ssc label,
.hsc label,
.master label,
.bachelor label {
    width: 33.33%;
}



.exp {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
    width: 100%;
}



.langtech,
.technology {
    display: flex;
    width: 100%;
}

input {
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid rgb(160, 153, 153);
}

select {
    background-color: rgb(255, 255, 255);
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid rgb(160, 153, 153);
}

.btn {

    display: flex;
    align-content: center;
    gap: 20px;
    padding: 0 0 20px;

}

.lang,
.tech {
    width: 50%;
}

.langdetail {
    display: flex;
}

.ref {
    display: flex;
    /* gap: 105px; */
    /* width: 33.33%; */
    padding-bottom: 5px;
}

.ref label {
    width: 33.33%;
}

.pref1 {
    display: flex;
    gap: 100px;
    padding-bottom: 5px;
}

.pref2 {
    display: flex;
    gap: 63px;
    padding-bottom: 5px;
}

.txtheader {
    color: rgb(111, 120, 138);
    font-weight: bolder;
}

.container {
    max-width: 1080;
    padding: 20px;
    margin: 0 auto;
    background-color: #ECEFF4;

}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #51f0a9;
    margin: -20px;
    margin-bottom: 80px;
}

.btnprofile {
    display: flex;
    margin-right: 100px;
    gap: 20px;
    align-items: center;
}