<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        .card
        {
            background-color: antiquewhite;
            max-width: 1150px;
        }
        .basic
        {
           display: flex;
        justify-content: space-between;
        padding: 0px 70px 0px 50px;
        }
        .buttton
        {
            display:flex ;
            max-width: 1150px;
            justify-content: space-between;
            margin-top: 30px;
            
            
        }
        .btn1
        {
            height: 20px;
            background-color: bisque;
            width: 50px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        .main
        {
            background-color: azure;
            max-width: 1260px;
            padding-top: 50px;
            padding-left: 80px;
            padding-right: 80px;
        }


    
    </style>
</head>
<body>
    

    <div class="main">

        <div class="card">
                <div class="card1" id="1">
                    


                    <fieldset>
                        <legend>
                            <h4>Basic Details </h4>
                        </legend>

                        <div class="basic">
                            <div class="one">
                                <p>
                                    <label for="fname">First Name:</label>
                                    <input type="text" name="fname" id="fname" class="must">
                                </p>
                                <p>
                                    <label for="designation">Designation:</label>
                                    <input type="text" name="designation" id="designation" class="must">
                                </p>
                                <p>
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email" class="must">
                                </p>
                                <p id="gender">
                                    <label for="gender">Gender:
                                        <input type="radio" name="gender" id="male" value="Male" checked><label
                                            for="Male">Male</label>
                                        <input type="radio" name="gender" id="female" value="Female"><label
                                            for="Female">Female</label>
                                        <input type="radio" name="gender" id="other" value="Other"><label
                                            for="Other">Other</label>
                                    </label>
                                </p>
                                <p>
                                    <label for="address">Address:</label>
                                    <input type="text" name="address" id="address" class="must">
                                </p>
                                <p>
                                    <label for="state">State:</label>
                                    <select name="state" id="state" class="must">
                                        <option value="" disabled>Select option</option>
                                        <option value="Gujrat">Gujrat</option>
                                        <option value="Rajsthan">Rajsthan</option>
                                        <option value="Maharastra">Maharastra</option>
                                    </select>
                                </p>
                            </div>

                            <div class="two">
                                <p>
                                    <label for="lname">Last Name:</label>
                                    <input type="text" name="lname" id="lname" class="must">
                                </p>
                                <p>
                                    <label for="dob">Birthdate:</label>
                                    <input type="text" name="dob" id="dob" class="must">
                                </p>
                                <p>
                                    <label for="phone">Phone No. :</label>
                                    <input type="text" name="phone" id="phone" class="must">
                                </p>
                                <p>
                                    <label for="relnstatus">Relationship Status:</label>
                                    <select name="relnstatus" id="relnstatus" class="must">
                                        <option value="" disabled>Select option</option>
                                        <option value="Unmerried">Unmerried</option>
                                        <option value="Merried">Merried</option>
                                        <option value="Seperated">Seperated</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="city">City:</label>
                                    <input type="text" name="city" id="city" class="must">
                                </p>
                                <p>
                                    <label for="zipcode">Zipcode:</label>
                                    <input type="text" name="zipcode" id="zipcode" class="must">
                                </p>
                            </div>

                        </div>

                    </fieldset>



                    
                </div>

                <div class="card2 " id="2">
                    
                <fieldset>
                    <legend>
                        <h4>Education Details</h4>
                    </legend>
                    <div class="education">
                        <h4>Ssc Result</h4>
                        <div class="ssc">

                            <label for="sscnameofboard">Name of Board:
                                <input type="text" name="sscnameofboard" id="sscnameofboard" class="must"></label>
                            <label for="passingyear">Passing Year:
                                <input type="text" name="sscpassingyear" id="sscpassingyear" class="must"></label>
                            <label for="percentage">Percentage:
                                <input type="text" name="sscpercentage" id="sscpercentage"  class="must"></label>
                        </div>
                        <hr>

                        <h4>Hsc/Diploma Result</h4>
                        <div class="hsc">

                            <label for="hscnameofboard">Name of Board:
                                <input type="text" name="hscnameofboard" id="hscnameofboard" class="must"></label>
                            <label for="passingyear">Passing Year:
                                <input type="text" name="hscpassingyear" id="hscpassingyear" class="must"></label>
                            <label for="percentage">Percentage
                                <input type="text" name="hscpercentage" id="hscpercentage" class="must"></label>
                        </div>

                        <hr>

                        <h4>Bachelor Degree</h4>
                        <div class="bachelor">
                            <label for="bachelorcourse">Course Name:</label>
                            <input type="text" name="bachelorcourse" id="bachelorcourse"></label>
                       
                            <label for="bachelorpassingyear">Passing Year:</label>
                            <input type="text" name="bachelorpassingyear" id="bachelorpassingyear" class="passingyear"></label>
                            <label for="bachelorpercentage">Percentage</label>
                            <input type="text" name="bachelorpercentage" id="bachelorpercentage" ></label>
                        </div>

                        <hr>

                        <h4>Master Degree</h4>
                        <div class="master">
                            <label for="mastercourse">Course Name:
                                <input type="text" name="mastercourse" id="mastercourse"></label>
                      
                            <label for="bachelorpassingyear">Passing Year:
                                <input type="text" name="masterpassingyear" id="masterpassingyear" class="passingyear"></label>
                            <label for="masterpercentage">Percentage:
                                <input type="text" name="masterpercentage" id="masterpercentage" ></label>
                        </div>



                    </div>
                </fieldset>



                </div>

                <div class="card3 " id="3">
                 

                <div class="work">

                    <fieldset>
                        <legend>
                            <h4>Work Experience</h4>
                        </legend>
                        <div class="experience1">
                            <label for="companyname1">Company Name:</label>
                            <input type="text" name="companyname1" id="companyname1">
                            <label for="designation1">Designation:</label>
                            <input type="text" name="designation1" id="designation1">
                            <label for="from1">From:</label>
                            <input type="text" name="from1" id="from1" class="datevalidte">
                            <label for="to1">To :</label>
                            <input type="text" name="to1" id="to1" class="datevalidte">
                        </div>

                        <div class="experience2">
                            <label for="companyname2">Company Name:</label>
                            <input type="text" name="companyname2" id="companyname2">
                            <label for="designation2">Designation:</label>
                            <input type="text" name="designation2" id="designation2">
                            <label for="from2">From:</label>
                            <input type="text" name="from2" id="from2" class="datevalidte">
                            <label for="to2">To :</label>
                            <input type="text" name="to2" id="to2" class="datevalidte">
                        </div>
                        <div class="experience3">

                            <label for="companyname3">Company Name:</label>
                            <input type="text" name="companyname3" id="companyname3">
                            <label for="designation3">Designation:</label>
                            <input type="text" name="designation3" id="designation3">
                            <label for="from3">From:</label>
                            <input type="text" name="from3" id="from3" class="datevalidte">
                            <label for="to3">To :</label>
                            <input type="text" name="to3" id="to3" class="datevalidte">
                        </div>

                    </fieldset>
                </div>


                </div>

                <div class="card4" id="4">
                    <div class="langtech">
                        <div class="lang">
                            <fieldset>
                                <legend>
                                    <h4>Language Known</h4>
                                </legend>
    
                                <div class="langdetail">
                                    <div>
                                        <input type="checkbox" name="lang1" id="hindi" value="hindi" class="lang1">
                                        <label for="hindi">Hindi</label>
                                    </div>
    
                                    <div class="check">
                                        <input type="checkbox" name="langcheck1[]" id="read1" value="read">
                                        <label for="read1">Read</label>
                                        <input type="checkbox" name="langcheck1[]" id="write1" value="write">
                                        <label for="write1">Write</label>
                                        <input type="checkbox" name="langcheck1[]" id="speak1" value="speak">
                                        <label for="speak1">Speak</label> <br><br>
                                    </div>
                                </div>
    
                                <div class="langdetail">
                                    <div>
                                        <input type="checkbox" name="lang2" id="gujrati" value="gujrati" class="lang1">
                                        <label for="gujrati">Gujrati</label>
                                    </div>
                                    <div class="check">
                                        <input type="checkbox" id="read2" name="langcheck2[]" value="read">
                                        <label for="read2">Read</label>
                                        <input type="checkbox" id="write2" name="langcheck2[]" value="write">
                                        <label for="write2">Write</label>
                                        <input type="checkbox" id="speak2" name="langcheck2[]" value="speak">
                                        <label for="speak2">Speak</label> <br><br>
                                    </div>
                                </div>
    
                                <div class="langdetail error">
                                    <div>
                                        <input type="checkbox" name="lang3" value="english" id="english" class="lang1">
                                        <label for="english">English</label>
                                    </div>
    
                                    <div class="check">
                                        <input type="checkbox" id="read3" name="langcheck3[]" value="read">
                                        <label for="read3">Read</label>
                                        <input type="checkbox" id="write3" name="langcheck3[]" value="write">
                                        <label for="write3">Write</label>
                                        <input type="checkbox" id="speak3" name="langcheck3[]" value="speak">
                                        <label for="speak3">Speak</label> <br><br>
                                    </div>
    
                                </div>
                            </fieldset>
                        </div>
                    
                </div>
                </div>

                

                <div class="card5" id="5">
                    <div class="tech">
                        <fieldset>
                            <legend>
                                <h4>Technology you Know</h4>
                            </legend>

                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="php" id="php" value="php" class="tech1">
                                    <label for="php">PHP</label>
    
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="phptech" id="beginner1" value="Beginner">
                                    <label for="beginner1">Beginner</label>
                                    <input type="radio" name="phptech" id="midetor1" value="Midetor">
                                    <label for="midetor1">Midetor</label>
                                    <input type="radio" name="phptech" id="expert1" value="Expert">
                                    <label for="expert1">Expert</label><br><br>
                                </div>
                            </div>
                            
                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="mysql" id="mysql" value="mysql" class="tech1">
                                    <label for="mysql">Mysql</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="mysqltech" id="beginner2" value="Beginner">
                                    <label for="beginner2">Beginner</label>
                                    <input type="radio" name="mysqltech" id="midetor2" value="Midetor">
                                    <label for="midetor2">Midetor</label>
                                    <input type="radio" name="mysqltech" id="expert2" value="Expert">
                                    <label for="expert2">Expert</label><br><br>
                                </div>
                            </div>
                           
                           
                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="oracle" id="oracle" value="oracle" class="tech1">
                                    <label for="oracle">Oracle</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="oracletech" id="beginner3" value="Beginner">
                                    <label for="beginner3">Beginner</label>
                                    <input type="radio" name="oracletech" id="midetor3" value="Midetor">
                                    <label for="midetor3">Midetor</label>
                                    <input type="radio" name="oracletech" id="expert3" value="Expert">
                                    <label for="expert3">Expert</label><br><br>
                                </div>
                            </div>
                            
                            


                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="laravel" id="laravel" value="laravel" class="tech1">
                                    <label for="laravel">laravel</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="laraveltech" id="beginner4" value="Beginner">
                                    <label for="beginner4">Beginner</label>
                                    <input type="radio" name="laraveltech" id="midetor4" value="Midetor">
                                    <label for="midetor4">Midetor</label>
                                    <input type="radio" name="laraveltech" id="expert4" value="Expert">
                                    <label for="expert4">Expert</label>
                                </div>
                            </div>
                           
                          
                        </fieldset>

                    </div>
                </div>

                

                <div class="card6" id="6">
                    <div class="refer">
                        <fieldset>
                            <legend>
                                <h4>Reference Contact</h4>
                            </legend>
                            <div class="ref1">
                                <label for="name">Name:
                                    <input type="text" name="name1" id="name"></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum1" id="contactnum" class="reference"></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation1" id="relation"></label> <br><br>
                            </div>
    
                            <div class="ref2">
                                <label for="name">Name:
                                    <input type="text" name="name2" id="name"></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum2" id="contactnum" class="reference"></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation2" id="relation"></label>
                            </div>
                        </fieldset>
                    </div>
    
                </div>


                <div class="card7" id="7">
                    <div class="prefer">
                        <fieldset>
                            <legend>
                                <h4>Preference</h4>
                            </legend>
                            <div class="pref1">
                                <label for="prefloc">Prefered Location
                                    <select name="prefloc" id="prefloc" class="must">
                                        <option value="">Select option</option>
                                        <option value="Ahmedabad">Ahmedabad</option>
                                        <option value="Rajkot">Rajkot</option>
                                    </select></label>
                                <label for="noticeperiod">Notice Period:
                                    <input type="text" name="noticeperiod" id="noticeperiod" class="must"></label>
                                <label for="department">Department
                                    <select name="department" id="department" class="must">
                                        <option value="" disabled>Select option</option>
                                        <option value="development">Development</option>
                                        <option value="design">Design</option>
                                        <option value="marketing">Marketing</option>
                                    </select></label>
                            </div>
    
    
                            <div class="pref2">
                                <label for="expectedctc">Expected CTC
                                    <input type="text" name="expectedctc" id="expectedctc" class="must"></label>
                                <label for="currentctc">Current CTC
                                    <input type="text" name="currentctc" id="currentctc" class="must"></label>
                            </div>
    
    
                        </fieldset>
    
                    </div>
    

                </div>

        </div>

        <div class="buttton">

            <div class="btn1">
                
                <p onclick="btn_prev()">prev</p>

            </div>
            <div class="btn1">
                <p onclick="btn()">next</p>

            </div>
         
        </div>
    </div>

    
<script>
    let card1 = document.querySelector(".card1");

    let card2   = document.querySelector(".card2");

    let card3 = document.querySelector(".card3");
    
    let card4 = document.querySelector(".card4");
    
    let card5 = document.querySelector(".card5");
    
    let card6 = document.querySelector(".card6");
    
    let card7 = document.querySelector(".card7");
    


        card2.style.display = "none";

        card3.style.display = "none";
        
        card4.style.display = "none";
        
        card5.style.display = "none";
        
        card6.style.display = "none";
        
        card7.style.display = "none";

        

        var count  = 1;

    function btn(id)
    {   
        if(count<=6)
        {
            var target_card = document.getElementById(count.toString())
        
        target_card.style.display= "none";

    count++;        
        var target_card = document.getElementById(count.toString())
        
        target_card.style.display= "block";
        }
    
        
        
        

    }




    function btn_prev(id)
    {   
    
        if(count>=2)
        {
            var target_card = document.getElementById(count.toString())
        
        target_card.style.display= "none";

    count--;        
        var target_card = document.getElementById(count.toString())
        
        target_card.style.display= "block";
        
        }
        
        
        

    }
</script>
</body>
</html>