<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>

    .time
    {
        color: #B0D7F7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        border: 1px solid black;
        width: 500px;
        margin-left: 380px;
        padding-bottom: 30px;
    }
    .r1
    {
        display: flex;

        gap: 30px;
   
    }
    .col1 
    {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .col2
    {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .input 
    {
        width: 180px;
        background-color: #edf5fc;
    }
    .input1
    {
        width: 180px;
        background-color: #edf5fc;
    }
    .convert
    {
        width: 80px;
        margin-top: 10px;
        border: 1px solid blue;
        text-align: center;
        background-color: #edf5fc;
        color: #025da7;
    }
    .txtheader
            {
                color: rgb(111, 120, 138);
                font-weight: bolder;
            }
            .container
            {
                max-width: 1080;
                padding: 20px;
                margin: 0 auto;
                background-color:#ECEFF4;
        
            }
            .nav
            {
                display: flex;
                justify-content: space-between;
                background-color:#51f0a9;
                margin: -20px;
                margin-bottom: 80px;
            }
            .btnprofile
            {
                display: flex;
                margin-right: 100px;
                gap: 20px;
                align-items: center;
            }
         
  
 
</style>
</head>

<body>  


    <div class="container">

        <div class="nav container">
    
            <div class="txtheader">
                <h1>TIMEZONE CONVERTOR</h1>
            </div>
    
            <div class="btnprofile">
                <div>
    
                    <a href="/dashboard"> DASHBOARD</a>
                </div>
                <div>
    
                    <P>  <i class="fa-regular fa-user fa-2xl"></i> </P> 
                </div>
            </div>
        </div>
        <div class="time">
    
            <div>
    
                <h1>Time Zone Converter</h1>
            
    
                <input type="text" id="inputdate">
            </div>
          
    
            <div class="r1">
    
                
                <div class="col1">
    
                  
                    <div id="combobox1">
                      
    
                      
    
    
                    </div>
    
    
                </div>
                <div class="col2">
    
                    
                    <div id="combobox2">
                      
    
                       
                    </div>
                </div>
    
    
    
    
    
            </div>
    
    
            <div class="convert">  
    
                <p id="convert">Convert</p>
    
            </div>
    
    
    
        </div>
    </div>



<script>


   
        var txtbx= document.getElementById("inputdate");
            
        var today = new Date();

        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        
        var month =  today.getFullYear() + "-" + today.getMonth() + "-" + today.getDate();
       
        txtbx.value = time;


    async function get()
    {

        function dropdown(option,isselected,classsname,na)
        {
            let dropdownbox = ``;
            dropdownbox += `   <p>
            <select name="${classsname}" id="${classsname}" class="${classsname}"> 
            <option value="" disabled>Select option</option>`
            for (const iterator of option) 
            {
                if(iterator["country"] == isselected )
                {
                        dropdownbox += `<option value="${iterator[na]}" selected> ${iterator[na]}  </option>`
                }
                else
                {
                        dropdownbox += `<option value="${iterator[na]}"> ${iterator[na]}  </option>`
                }
            }
            dropdownbox +='</select> </p>';
            return dropdownbox;
        }

        async function  getdata(url,cname)
        {
           
                let data1 = await fetch(
                url, {
                        method: 'post',
                        headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                                tag: cname,
                                }),
                            });
            
                data1 =data1.json();
                return data1;
        }

        let path1 = window.location.origin +"/country";

        data2=await  getdata(path1);
        let box1 =document.getElementById("combobox1","hello");
        let txt = '<lable>select country first</lable>' 
        txt += dropdown(data2, "china","input","country")
        box1.innerHTML = txt; 
        let dropbox11 = document.getElementById("input")
        dropbox11.addEventListener("change", myScript);
        async function myScript()
        {
                let box2 =document.getElementById("combobox2");
                let drop= document.getElementById("input").value;


                let path1 = window.location.origin +"/city";
                data2=await  getdata(path1,drop);
                let txt1 = `<lable> now select city</lable>` 
                txt1 += dropdown(data2, "china","input1","city")
                box2.innerHTML = txt1;
        }

        let conv=document.getElementById("convert");

        conv.addEventListener("click", convert);
        async function convert()
        {
            let str = month;
            str += ` `

            str+= txtbx.value;

            let drop= document.getElementById("input").value;
            let path1 = window.location.origin +"/timezone";
            data2=await  getdata(path1,drop);
            val = data2[0].timezone

            console.log(data2[0]);
            

            console.log(val);


            
     
            let l1 = new Date(str).toLocaleString('en-US', { timeZone: val });
 
            
            let ank = l1.toLocaleString('en-US', { timeZone: '' });
            alert("your time zone " + ank)

        }
        
            
    
    }


get();








    

</script>
    
</body>
</html>