
<tr class="gap">
   

   

   

        <td onclick="sort('1' ,'ex_id' )">
            <div class="lr">
                
            <p>  Exam_id   </p>  
<!-- 
           <p> <i class="fa-solid fa-angle-up"></i></p>
           <p> <i class="fa-solid fa-sort-down"></i> </p>
            -->

            </div>
        
        </td>
        <td onclick="sort('2' ,'sub_id' )">Subject_id</td>
        <td onclick="sort('3' ,'s_id' )">student_id</td>
        <td onclick="sort('4' ,'marks' )">Marks</td>
        <td onclick="sort('5' ,'t_id' )"> Type_id</td>  
    

</tr>

