<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Application</title>
    <link rel="stylesheet" href="/public/ajax/style.css">
</head>

<body>




    <div class="nav container">

        <div class="txtheader">
            <h1>KUKU CUBE</h1>
        </div>

        <div class="btnprofile">
            <div>

                <a href="/"> DASHBOARD</a>
            </div>
            <div>

                <P> <i class="fa-regular fa-user fa-2xl"></i> </P>
            </div>
        </div>

    </div>

    <div>
        <div>
            <h3 style="text-align: center;">Job Application Form</h3>
        </div>
        <div class="messege">

        </div>

        <div class="main">
            <form method="post" onsubmit="return validate()">

                <div class="basicdetails">
                    <fieldset>
                        <legend>
                            <h4>Basic Details </h4>
                        </legend>
                        <div class="basic">
                            <div class="one">
                                <p>
                                    <input type="hidden" name="candid" id="candid">
                                </p>
                                <p>
                                    <label for="fname">First Name:</label>
                                    <input type="text" name="fname" id="fname" class="required" placeholder="mihir"
                                        autofocus>
                                </p>
                                <p>
                                    <label for="designation">Designation:</label>
                                    <input type="text" name="currdesignation" id="designation" class="required"
                                        placeholder=" SDL">
                                </p>
                                <p>
                                    <label for="email">Email:</label>
                                    <input type="text" name="email" id="email" class="required"
                                        placeholder=" abc01@gmail.com">
                                </p>
                                <p id="gender">
                                    <label for="gender">Gender:
                                        <input type="radio" name="gender" id="male" value="Male"><label
                                            for="male">Male</label>
                                        <input type="radio" name="gender" id="female" value="Female"><label
                                            for="female">Female</label>
                                        <input type="radio" name="gender" id="other" value="Other"><label
                                            for="other">Other</label>
                                    </label>
                                </p>
                                <p>
                                    <label for="address">Address:</label>
                                    <input type="text" name="address" id="address" class="required"
                                        placeholder=" bhavnagar  ">
                                </p>
                                <p>
                                    <label for="state">State:</label>
                                    <select name="state" id="state" class="required">
                                        <option value="">Select option</option>
                                        <option value="Gujrat">Gujrat</option>
                                        <option value="Rajsthan">Rajsthan</option>
                                        <option value="Maharastra">Maharastra</option>
                                    </select>
                                </p>
                            </div>

                            <div class="two">
                                <p>
                                    <label for="lname">Last Name:</label>
                                    <input type="text" name="lname" id="lname" class="required" placeholder=" ">
                                </p>
                                <p>
                                    <label for="dob">Birthdate:</label>
                                    <input type="text" name="dob" id="dob" class="required" placeholder="yyyy-mm-dd">
                                </p>
                                <p>
                                    <label for="phone">Phone No. :</label>
                                    <input type="text" name="phone" id="phone" class="required"
                                        placeholder=" 9876543210">
                                </p>
                                <p>
                                    <label for="relnstatus">Relationship Status:</label>
                                    <select name="relnstatus" id="relnstatus" class="required">
                                        <option value="">Select option</option>
                                        <option value="Unmerried">Unmerried</option>
                                        <option value="Merried">Merried</option>
                                        <option value="Seperated">Seperated</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="city">City:</label>
                                    <input type="text" name="city" id="city" class="required" placeholder="bhavnagar">
                                </p>
                                <p>
                                    <label for="zipcode">Zipcode:</label>
                                    <input type="text" name="zipcode" id="zipcode" class="required"
                                        placeholder=" 364001">
                                </p>
                            </div>


                        </div>

                    </fieldset>

                </div>

                <div class="educationdetails">

                    <fieldset>
                        <legend>
                            <h4>Education Details</h4>
                        </legend>
                        <div class="education">
                            <h4>Ssc Result</h4>
                            <div class="ssc">

                                <label for="sscnameofboard">Name of Board:
                                    <input type="text" name="sscnameofboard" id="sscnameofboard" class="required"
                                        placeholder="GSEB" autofocus></label>
                                <label for="passingyear">Passing Year:
                                    <input type="text" name="sscpassingyear" id="sscpassingyear" class="required"
                                        placeholder="yyyy"></label>
                                <label for="percentage">Percentage:
                                    <input type="text" name="sscpercentage" id="sscpercentage" class="required"
                                        placeholder="75.26"></label>
                            </div>
                            <hr>

                            <h4>Hsc/Diploma Result</h4>
                            <div class="hsc">

                                <label for="hscnameofboard">Name of Board:
                                    <input type="text" name="hscnameofboard" id="hscnameofboard" class="required"
                                        placeholder="GSEB"></label>
                                <label for="passingyear">Passing Year:
                                    <input type="text" name="hscpassingyear" id="hscpassingyear" class="required"
                                        placeholder="yyyy"></label>
                                <label for="percentage">Percentage
                                    <input type="text" name="hscpercentage" id="hscpercentage" class="required"
                                        placeholder="75.26"></label>
                            </div>

                            <hr>

                            <h4>Bachelor Degree</h4>
                            <div class="bachelor">


                                <label for="bachelorcourse">Course Name:
                                    <select name="bachelorcourse" id="bachelorcourse" class="val">
                                        <option value="">Select Option</option>
                                        <option value="BA">BA</option>
                                        <option value="BCOM">BCOM</option>
                                        <option value="BSC">BSC</option>
                                        <option value="BSC IT">BSC IT</option>
                                        <option value="BE">BE</option>
                                        <option value="BCA">BCA</option>

                                    </select></label>


                                <label for="bachelorpassingyear">Passing Year:
                                    <input type="text" name="bachelorpassingyear" id="bachelorpassingyear"
                                        class="passingyear val" placeholder="yyyy"></label>


                                <label for="bachelorpercentage">Percentage
                                    <input type="text" name="bachelorpercentage" id="bachelorpercentage"
                                        placeholder="79" class="val"></label>


                            </div>

                            <hr>

                            <h4>Master Degree</h4>
                            <div class="master">
                                <label for="mastercourse">Course Name:
                                    <select name="mastercourse" id="mastercourse" class="val">
                                        <option value="">Select Option</option>
                                        <option value="MA">MA</option>
                                        <option value="MCOM">MCOM</option>
                                        <option value="MSC">MSC</option>
                                        <option value="MSC IT">MSC IT</option>
                                        <option value="ME">ME</option>
                                        <option value="MCA">MCA</option>

                                    </select></label>

                                <label for="masterpassingyear">Passing Year:
                                    <input type="text" name="masterpassingyear" id="masterpassingyear"
                                        class="passingyear val" placeholder="yyyy"></label>
                                <label for="masterpercentage">Percentage:
                                    <input type="text" name="masterpercentage" id="masterpercentage" placeholder="75.26"
                                        class="val"></label>
                            </div>



                        </div>
                    </fieldset>
                </div>


                <div class="work">

                    <fieldset>
                        <legend>
                            <h4>Work Experience</h4>
                        </legend>

                        <div class="btn">
                            <button id="addcom">ADD</button>
                            <button id="deletecom">DELETE</button>
                        </div>


                        <div class="works">
                            <div class="exp">
                                <input type="hidden" name="workid[]">
                                <label for="companyname1">Company Name:
                                    <input type="text" name="companyname[]" placeholder="eSparkbiz" autofocus></label>
                                <label for="designation1">Designation:
                                    <input type="text" name="designation[]" placeholder="SDL"></label>
                                <label for="from1">From:
                                    <input type="text" name="from[]" class="dates" placeholder="yyyy-mm-dd"></label>
                                <label for="to1">To :
                                    <input type="text" name="to[]" class="dates" placeholder="yyyy-mm-dd"></label>
                            </div>

                            <div class="exp">
                                <input type="hidden" name="workid[]">
                                <label for="companyname2">Company Name:
                                    <input type="text" name="companyname[]" placeholder="eSparkbiz"></label>
                                <label for="designation2">Designation:
                                    <input type="text" name="designation[]" placeholder="SDL"></label>
                                <label for="from2">From:
                                    <input type="text" name="from[]" class="dates" placeholder="yyyy-mm-dd"></label>
                                <label for="to2">To :
                                    <input type="text" name="to[]" class="dates" placeholder="yyyy-mm-dd"></label>
                            </div>
                            <div class="exp">
                                <input type="hidden" name="workid[]">
                                <label for="companyname3">Company Name:
                                    <input type="text" name="companyname[]" placeholder="eSparkbiz"></label>
                                <label for="designation3">Designation:
                                    <input type="text" name="designation[]" placeholder="SDL"></label>
                                <label for="from3">From:
                                    <input type="text" name="from[]" class="dates" placeholder="yyyy-mm-dd"></label>
                                <label for="to3">To :
                                    <input type="text" name="to[]" class="dates" placeholder="yyyy-mm-dd"></label>
                            </div>
                        </div>


                    </fieldset>
                </div>

                <div class="langtech">
                    <div class="lang">
                        <fieldset>
                            <legend>
                                <h4>Language Known</h4>
                            </legend>

                            <div class="langdetail">
                                <div>
                                    <input type="checkbox" name="lang1" id="hindi" value="hindi" class="lang1"
                                        autofocus>
                                    <label for="hindi">Hindi</label>
                                </div>

                                <div class="check">
                                    <input type="checkbox" name="langcheck1[]" id="read1" value="read">
                                    <label for="read1">Read</label>
                                    <input type="checkbox" name="langcheck1[]" id="write1" value="write">
                                    <label for="write1">Write</label>
                                    <input type="checkbox" name="langcheck1[]" id="speak1" value="speak">
                                    <label for="speak1">Speak</label> <br><br>
                                </div>
                            </div>

                            <div class="langdetail">
                                <div>
                                    <input type="checkbox" name="lang2" id="gujrati" value="gujrati" class="lang1">
                                    <label for="gujrati">Gujrati</label>
                                </div>
                                <div class="check">
                                    <input type="checkbox" id="read2" name="langcheck2[]" value="read">
                                    <label for="read2">Read</label>
                                    <input type="checkbox" id="write2" name="langcheck2[]" value="write">
                                    <label for="write2">Write</label>
                                    <input type="checkbox" id="speak2" name="langcheck2[]" value="speak">
                                    <label for="speak2">Speak</label> <br><br>
                                </div>
                            </div>

                            <div class="langdetail error">
                                <div>
                                    <input type="checkbox" name="lang3" value="english" id="english" class="lang1">
                                    <label for="english">English</label>
                                </div>

                                <div class="check">
                                    <input type="checkbox" id="read3" name="langcheck3[]" value="read">
                                    <label for="read3">Read</label>
                                    <input type="checkbox" id="write3" name="langcheck3[]" value="write">
                                    <label for="write3">Write</label>
                                    <input type="checkbox" id="speak3" name="langcheck3[]" value="speak">
                                    <label for="speak3">Speak</label> <br><br>
                                </div>

                            </div>
                        </fieldset>
                    </div>
                    <div class="tech">
                        <fieldset>
                            <legend>
                                <h4>Technology you Know</h4>
                            </legend>

                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="php" id="php" value="php" class="tech1">
                                    <label for="php">PHP</label>

                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="phptech" id="beginner1" value="Beginner">
                                    <label for="beginner1">Beginner</label>
                                    <input type="radio" name="phptech" id="midetor1" value="Midetor">
                                    <label for="midetor1">Midetor</label>
                                    <input type="radio" name="phptech" id="expert1" value="Expert">
                                    <label for="expert1">Expert</label><br><br>
                                </div>
                            </div>

                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="mysql" id="mysql" value="mysql" class="tech1">
                                    <label for="mysql">Mysql</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="mysqltech" id="beginner2" value="Beginner">
                                    <label for="beginner2">Beginner</label>
                                    <input type="radio" name="mysqltech" id="midetor2" value="Midetor">
                                    <label for="midetor2">Midetor</label>
                                    <input type="radio" name="mysqltech" id="expert2" value="Expert">
                                    <label for="expert2">Expert</label><br><br>
                                </div>
                            </div>


                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="oracle" id="oracle" value="oracle" class="tech1">
                                    <label for="oracle">Oracle</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="oracletech" id="beginner3" value="Beginner">
                                    <label for="beginner3">Beginner</label>
                                    <input type="radio" name="oracletech" id="midetor3" value="Midetor">
                                    <label for="midetor3">Midetor</label>
                                    <input type="radio" name="oracletech" id="expert3" value="Expert">
                                    <label for="expert3">Expert</label><br><br>
                                </div>
                            </div>




                            <div class="technology">
                                <div>
                                    <input type="checkbox" name="laravel" id="laravel" value="laravel" class="tech1">
                                    <label for="laravel">laravel</label>
                                </div>
                                <div class="techvalue">
                                    <input type="radio" name="laraveltech" id="beginner4" value="Beginner">
                                    <label for="beginner4">Beginner</label>
                                    <input type="radio" name="laraveltech" id="midetor4" value="Midetor">
                                    <label for="midetor4">Midetor</label>
                                    <input type="radio" name="laraveltech" id="expert4" value="Expert">
                                    <label for="expert4">Expert</label>
                                </div>
                            </div>


                        </fieldset>

                    </div>
                </div>

                <div class="refer">
                    <fieldset>
                        <legend>
                            <h4>Reference Contact</h4>
                        </legend>
                        <div class="btn">
                            <button id="addref">ADD</button>
                            <button id="deleteref">DELETE</button>
                        </div>

                        <div class="refs">
                            <div class="ref">
                                <input type="hidden" name="refid[]">
                                <label for="name">Name:
                                    <input type="text" name="name[]" placeholder="suraj" autofocus></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum[]" class="refnumber"
                                        placeholder="79990194997"></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation[]" placeholder="Brother"></label>
                                <br><br>
                            </div>

                            <div class="ref">
                                <input type="hidden" name="refid[]">
                                <label for="name">Name:
                                    <input type="text" name="name[]" placeholder="kishan"></label>
                                <label for="contactnum">Contact Number:
                                    <input type="text" name="contactnum[]" class="refnumber"
                                        placeholder="7990167445"></label>
                                <label for="relation">Relation:
                                    <input type="text" name="relation[]" placeholder="Brother"></label>
                            </div>
                        </div>

                    </fieldset>
                </div>

                <div class="prefer">
                    <fieldset>
                        <legend>
                            <h4>Preference</h4>
                        </legend>
                        <div class="pref1">
                            <label for="prefloc">Prefered Location
                                <select name="prefloc" id="prefloc" class="required" autofocus>
                                    <option value="">Select option</option>
                                    <option value="Ahmedabad">Ahmedabad</option>
                                    <option value="Rajkot">Rajkot</option>
                                </select></label>
                            <label for="noticeperiod">Notice Period:
                                <input type="text" name="noticeperiod" id="noticeperiod" class="required"
                                    placeholder="2 (in months)"></label>
                            <label for="department">Department
                                <select name="department" id="department" class="required">
                                    <option value="">Select option</option>
                                    <option value="development">Development</option>
                                    <option value="design">Design</option>
                                    <option value="marketing">Marketing</option>
                                </select></label>
                        </div>


                        <div class="pref2">
                            <label for="expectedctc">Expected CTC
                                <input type="text" name="expectedctc" id="expectedctc" class="required"
                                    placeholder="3.6 (lpa)"></label>
                            <label for="currentctc">Current CTC
                                <input type="text" name="currentctc" id="currentctc" class="required"
                                    placeholder="3.6 (lpa)"></label>
                        </div>


                    </fieldset>

                </div>

                <div class="btn">
                    <input type="submit" value="prev" id="prev">
                    <input type="submit" value="next" id="next">
                </div>
            </form>
        </div>
    </div>

    <script src="/public/ajax/script.js"></script>
    <script src="/public/ajax/addlisten.js"></script>
    <script src="/public/ajax/update.js"></script>

</body>

</html>