<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

        table
        {
            border: 1px solid ;
            width: 700px;
            text-align: center;
        }
        td
        {
            border: 1px solid;
        }
        h1
        {
            display:flex;
            justify-content: center;
        }
        .head
        {
            background-color: rgb(50, 253, 186);
        }
        .subhead
        {
            background-color: rgb(171, 202, 192);
        }
    </style>
</head>
<body>

      

    <h1>Result</h1>
    <table>

        <tr class="head">

   

            <td rowspan="2">name</td>
            <td colspan="2">Terminal </td>
            <td colspan="2">Prilim  </td>
            <td colspan="2"> Final</td>
            <td rowspan="2">total</td>
            <td rowspan="2">obtain</td>
            <td rowspan="2">more</td>

        </tr>

        <tr class="subhead">

   

           <td>Practical</td>
           <td>Theory</td>
           <td>Practical</td>
           <td>Theory</td>
           <td>Practical</td>
           <td>Theory</td>
        </tr>



        <tr>

   

            <td>Mihir</td>
            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>20</td>


            <td>100</td>
            <td>50</td>

            <td><button>more</button></td>
         </tr>



         <tr>

   

            <td>Mihir</td>
            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>20</td>


            <td>100</td>
            <td>50</td>

            <td><button>more</button></td>
         </tr>
         <tr>

   

            <td>Mihir</td>
            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>20</td>


            <td>100</td>
            <td>50</td>

            <td><button>more</button></td>



         </tr>
         <tr>

   

            <td>Mihir</td>
            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>30</td>

            <td>20</td>
            <td>20</td>


            <td>100</td>
            <td>50</td>

            <td><button>more</button></td>

            
         </tr>

    </table>


</body>
</html>